/**
 * @name         Lluna Plena
 * @description  Clean dark Discord theme
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/LlunaPlena/src/llunaplena.css
 * @discord      rmkx#3388
 * @author       rmkx
 * @version      1.0 
 */

/* Root Variables */
:root {
    --channel-color: #293f47; /* Selected channel and background color | Default #293f47;*/
    --chat-color: #070707; /* Backgroung color for chat | Default #070707*/
    --chat-shadow-color: #293f47; /*Color for the chat box shadow | Default #293f47*/
    --button-color: #293f47; /*Color for some of the buttons | Default #293f47*/
    --activity-color: #181717; /*Color for the activity bar | Default #181717*/
    --background-primary: #030303; /* Primary theme color | Default #030303*/
    --background-secondary: #030303; /*Secondary theme color | Default #030303*/
}

/*Theme Variables*/
.theme-dark {
    --chat-scrollbar-width: 20px; /*Changes the scrollbar width on chat | Default 20px*/
    --scrollbar-thumb: #293f47; /*Changes the scrollbar base color | Default #293f47*/
    --scrollbar-thumb-hover: #293f47; /*Changes the scrollbar hover color | Default #293f47*/
    --background-floating: #030303; /*Right click on user floating background | Default #030303*/
    --scrollbar-thin-thumb: #293f47; /*Changes the color of the server channels and friends scrollbars | Default #293f47*/
    --scrollbar-thin-track: #0f0f0fba; /*Changes the background color of the server channels and friends scrollbars | Default #0f0f0fba*/
    --scrollbar-auto-thumb: #293f47; /*Changes the color of the chat scrollbar | Default*/
    --scrollbar-auto-track: #0f0f0fba; /*Changes the background color of the chat scrollbar | Default #293f47*/
    --background-modifier-hover: #293f47; /*Changes the hover on users color | Default #293f47*/
    --background-message-hover: #293f4757; /*Changes the background of the hovered messages in chat | Default #293f4757*/
    --text-muted: #63a4a8; /*Changes the color of the font of some parts of the Theme (search bar, etc) | Default #63a4a8*/
    --text-link: #8dfce9; /*Changes the color of the links | Default #8dfce9*/
    --channels-default: #afafaf; /*Changes the color of the channel names | Default #afafaf*/
    --blue-hue-elements: #63a4a8; /*Color code for some parts of the theme | Default #63a4a8*/
    --background-modifier-accent: #293f47; /*Color for the lines separating some elements of some menus | Default #293f47*/
}
.theme-light {
    --chat-scrollbar-width: 20px; /*Changes the scrollbar width on chat | Default 20px*/
    --scrollbar-thumb: #293f47; /*Changes the scrollbar base color | Default #293f47*/
    --scrollbar-thumb-hover: #293f47; /*Changes the scrollbar hover color | Default #293f47*/
    --background-floating: #030303; /*Right click on user floating background | Default #030303*/
    --scrollbar-thin-thumb: #293f47; /*Changes the color of the server channels and friends scrollbars | Default #293f47*/
    --scrollbar-thin-track: #0f0f0fba; /*Changes the background color of the server channels and friends scrollbars | Default #0f0f0fba*/
    --scrollbar-auto-thumb: #293f47; /*Changes the color of the chat scrollbar | Default*/
    --scrollbar-auto-track: #0f0f0fba; /*Changes the background color of the chat scrollbar | Default #293f47*/
    --background-modifier-hover: #293f47; /*Changes the hover on users color | Default #293f47*/
    --background-message-hover: #293f4757; /*Changes the background of the hovered messages in chat | Default #293f4757*/
    --text-muted: #63a4a8; /*Changes the color of the font of some parts of the Theme (search bar, etc) | Default #63a4a8*/
    --text-link: #8dfce9; /*Changes the color of the links | Default #8dfce9*/
    --channels-default: #afafaf; /*Changes the color of the channel names | Default #afafaf*/
    --blue-hue-elements: #63a4a8; /*Color code for some parts of the theme | Default #63a4a8*/
    --background-modifier-accent: #293f47; /*Color for the lines separating some elements of some menus | Default #293f47*/
}

/*Message selection settings*/
.theme-dark ::selection {
    background-color:  hsla(193, 10%, 17%, 0.925); /*Changes the background when selecting a message on the chat*/
    color: #7bcbeb; /*Changes the color of the words of the selected message*/
}

/*Friends list settings*/
.peopleList-3c4jOR {

    background-color: var(--background-primary); /*Changes the background of the friends list*/

    /*Creates a shadow that wraps the friends box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    overflow: auto !important;
}
.selected-aXhQR6 .layout-2DM8Md{
    background-color: #293f4757;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    text-align: center;
    border-radius: 20px;
}
.input-2VB9rf{
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread-3gTHvA{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe{
    background: transparent;
}
.wrapper-r-6rrt{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    max-width: 100%!important;
}
.peopleListItem-2nzedh{
    border-top: 1px solid var(--channel-color);
}

/*Active Now settings*/
.nowPlayingColumn-2sl4cE {
    background-color: rgb(16, 16, 17) /*Changes the background of the Now Active/Playing column*/
}
.wrapper-3D2qGf {
    background-color: rgb(16, 16, 17); /*Changes the color of the the Active Status*/
    border:1px solid var(--channel-color);
    border-radius: 20px;
}
.wrapper-3D2qGf .textContent-3N7xXx {
    color: white /*Changes the font color of the Now Active/Playing boxes*/
}
.section-2gLsgF {
    border: 2px solid var(--channel-color);
    border-radius: 20px;
    background-color: rgb(16, 16, 17);
}
.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: var(rgb(16, 16, 17));
    border: 2px solid var(--channel-color);
}
.theme-dark .partyMemberOverflow-lXnzvu{
    background-color: var(--channel-color);
}
.theme-dark .outer-1AjyKL.active-1xchHY{
    background-color: var(rgb(16, 16, 17));
}
.wrapper-3D2qGf:hover{
    background-color: rgb(16, 16, 17)!important;
}
.theme-dark .separator-XqIyoz{
    height: 3.5px;
    background-color: transparent;
}
.theme-dark .inset-3sAvek{
    background-color: rgb(16, 16, 17);
}
.header-13Cw0- {
    position: relative;
    padding-bottom: 0px;
    text-align: center;
    color: var(--blue-hue-elements);
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}
.header-13Cw0-::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0;
}
.header-13Cw0-::after{
    background-image: linear-gradient(to right, transparent, rgba(17, 17, 17, 0.5),var(--chat-shadow-color),rgba(17, 17, 17, 0.5),transparent);
}
.nowPlayingScroller-2XrVUt {
    overflow: auto !important;
}
.emptyCard-1RJw8n{
    background-color: transparent;
    margin-top: -10px;
}

/*Top Bar settings*/
.withFrame-haYltI {
    background-color: var(--background-primary); /*Changes the color of the top bar*/
    margin-top: 0px;
}
.wordmarkWindows-1v0lYD {
    color: transparent; /*Hides the "Discord" text on the bar*/
}

/*Chat settings*/
.chatContent-a9vAAp{
    background-color: var(--chat-color);
    /*Creates a shadow that wraps the chat box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.form-2fGMdU:before {
    height: 0rem;
}
.header-ykumBX {
    background-color: var(--background-primary);
}
.messagesPopoutWrap-1MQ1bW{
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.messageGroupWrapper-o-Zw7G{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
} 
.menu-3sdvDG{
    border-radius: 20px;
}
.operations-36ENbA>a{
    color: #7bcbeb;
}
.contents-2mQqc9.channelTextArea-3bF57p.channelTextArea-2VhZ6z{
    background-color: #111314d0;
    border: 2px solid;
    border-color: #111314d0;
    border-radius: 20px;
}
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa{
    background-color: var(--channel-color);
}
.container-enaOkj{
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.colorStatusGreen-2saF4_ {
    color: var(--blue-hue-elements);
}
.layers-3iHuyZ.layers-3q14ss{
    background-color: var(--channel-color)!important;
}
.peopleColumn-29fq28{
    background-color: var(--background-primary);
}
.wrapper-1cBijl{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
    color: white;
    background-color: var(--blue-hue-elements);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{
    color: white!important;
    background-color: var(--channel-color)!important;
}
.wrapper-1cBijl{
    color:white!important;
}
.container-1ov-mD>*{
    border-color: var(--channel-color)!important;
    border-radius: 20px;
}
.cozy-3raOZG.wrapper-2a6GCs:hover{
    background-color: #293f471f!important;
}
.wrapper-35wsBm{
    border: 1px solid var(--blue-hue-elements);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.content-1o0f9g{
    background-color: var(--chat-color);
}
.isUnread-3Ef-o9 .content-1o0f9g{
    color: var(--blue-hue-elements);
}
.wrapper-3WhCwL{
    color: var(--blue-hue-elements);
    background-color: #293f4757;
}
.wrapper-3WhCwL:hover{
    color: var(--blue-hue-elements);
    background-color: var(--channel-color);
}
.wrapper-39oAo3{
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover{
    background-color: var(--activity-color);
}
.embedFull-2tM8--{
    border-left: 2px solid;
    border-right: 2px solid;
}
.markup-2BOw-j code {
    background-color: #03030373;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.cancelButton-3hVEV6, .downloadButton-23tKQp {
    color: inherit;
}
.mentioned-xhSam7 {
    background-color: #63a5a818;
}
.mentioned-xhSam7:before{
    background-color: #63a5a8be
}
.jumpToPresentBar-G1R9s6{
    background-color: transparent;
    bottom: 3px;
}
.scrollableContainer-2NUZem {
    background-color: var(--activity-color);
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.divider-JfaTT5{
    border-top: thin solid var(--channel-color);
}
.replying-1x3H0T:before {
    background-color: rgb(0, 255, 255)
}
.replying-1x3H0T {
    background-color: rgba(0, 225, 255, 0.05)
}

/*Listening along*/
.listeningAlong-30wH70{
    background-color: var(--background-primary);
    border-bottom: 0px;
}

/*Going live buttons*/
.selectorButtonSelected-t5V9On{
    background-color: var(--channel-color);
}
.selectorButton-EEUWed:hover{
    background-color: var(--channel-color)!important;
}
.disabledButtonOverlay-2DA5FI{
    background: transparent!important;
    border-radius: 20px!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    border-radius: 20px;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    border-radius: 20px;
}

/*Notice message*/
.notice-3uyY6c{
    background-color: var(--blue-hue-elements);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ{
    border: 1px solid #293f4757;
    background-color: #293f4757!important;
}
.formFieldWrapper-malor5, .settingsFormFieldWrapper-3Y77Pr{
    border: 1px solid var(--channel-color);
}

/*Mute/Deafen/Settings bar settings*/
.container-3baos1 {
    background-color: var(--background-primary); /*Changes the color*/
    margin: 0px; /*Removes a little margin bar that's left over*/
}

/*New Unread Messages Box Channel List Box*/
.unread-1xRYoj {
    background-color: #293f47;
    opacity: 0.99;
}

/*Message Box*/
.channelTextArea-rNsIhG{
    margin-bottom: 20px;
    background-color: var(--chat-color);
}
.channelTextArea-rNsIhG .scrollableContainer-2NUZem{
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;

}

/*In call activity box*/
.container-1giJp5{
    background-color: var(--background-primary);
    border-bottom: 0px;
}
.panel-24C3ux{
    background-color: var(--background-primary);
    border-bottom: 0px;
}

/*Share screen and Video buttons*/
.button-1YfofB {
    border-radius: 0px;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp{
    background-color: #293f4757;
}
.button-1YfofB:disabled{
    background-color: var(--activity-color)!important;
    border: 20px;
}

/*User card settings*/
.userPopout-3XzG_A{
    border: 3px solid var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background-color: var(--background-primary);
    overflow: auto !important;
}
.headerTop-3C2Zn0 {
    background-color: var(--background-primary);
}
.activity-11LB_k {
    background-color: var(--background-primary);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.input-cIJ7To {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus{
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.inputDefault-_djjkz{
    text-align: center;
}
.textarea-2r0oV8{
    height: 40px !important;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--channel-color);
    text-align: center;
}
.textarea-2r0oV8:focus {
    background-color: var(--chat-color-color);
}
.role-2irmRk {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 6px 6px 0;
    padding: 4px;
}
.botTag-2WPJ74 {
    background-color: var(--channel-color);
    color: white;
}
.note-3HfJZ5{
    margin-left: -4px!important;
    margin-right: 6px!important;
}

/*Server role settings*/
.membersGroup-v9BXpm {
    text-align: center;
    color: var(--blue-hue-elements);
    position: relative;
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}
.membersGroup-v9BXpm::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0;
}
.membersGroup-v9BXpm::after {
    background-image: linear-gradient(to right, transparent, rgba(17, 17, 17, 0.5),var(--chat-shadow-color),rgba(17, 17, 17, 0.5),transparent);
}

/*Various bars*/
.searchBar-3dMhjb{
    background-color: var(--activity-color);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    padding-left: 40px;
}
.platform-win .sidebar-2K8pFh{
    border-radius: 0 0 0;
}

 /* Stream volume bar*/ 
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before{
    background-color: var(--blue-hue-elements)!important;
}

/*Server Stream Preview Window*/
.theme-dark .streamPreview-2-WUWT {
    background-color: var(--background-primary);
    border: 3px solid var(--channel-color);
    border-radius: 20px;
}
.inline-136HKr .pro-1T8RK7 {
    color: var(--blue-hue-elements)!important;
}
.inline-136HKr .tip-2ab612, .tip-2ab612 {
    color: white!important;
}
.theme-dark .watchButton-2SbJEo {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}

/*Various buttons*/
.button-14-BFJ:hover{
    background-color: var(--channel-color)!important;
}

/*New Messages line & bar*/
.group-spacing-16.divider-3_HH5L {
    margin-top: 4px;
    margin-bottom: 4px;
}
.isUnread-3Ef-o9 {
    border-color: var(--channel-color);
}
.unreadPill-2HyYtt {
    background-color: var(--channel-color);
}
.unreadPillCapStroke-7rkHbg {
    color: var(--channel-color);
    fill: var(--channel-color);
}
.newMessagesBar-265mhP {
    background-color: var(--channel-color);
}
.barButtonMain-3K-jeJ{
    background-color: var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.barButtonAlt-mYL1lj {
    background-color: var(--channel-color);
    border-radius: 20px;
}

/*Emojis and emotes tab*/
.list-donH_Z{
    background-color: var(--background-primary);
}
.unicodeShortcut-15J8Ck{
    background-color: var(--background-primary);
}
.inspector-S2gM3e{
    background-color: var(--background-primary);
}
.contentWrapper-SvZHNd{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.navItem-3Wp_oJ{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.navButtonActive-1MkytQ {
    border-radius: 20px;
    background-color: var(--channel-color);
}
.inner-3ErfOT{
    background-color: var(--chat-color);
    border: 1px solid var(--channel-color);
}
.button-F9qN4n{
    background-color: var(--background-primary)!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A {
    background-color: #293f47cc!important;
}
.theme-dark .categoryFade-2ybR1J:hover {
    border-color: var(--channel-color);
}
.inner-2P4tQO {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.theme-dark .emptyHintCard-2mUdMe {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary)!important;
}

/*Nitro Gifting page*/
.content-1YdlXf {
    border-radius: 2px;
    border: 1px solid var(--channel-color);
    background-color: var(--background-primary);
}
.horizonal-2R4X-v .button-1vm4ZO{
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
}
.scroller-3tPHw0{
    overflow: auto !important;
}
.breadcrumbsWrapper-3avBWN {
    border-bottom: 1px solid var(--channel-color);
}

/*Settings*/
.lookFilled-1Gx00P.colorBrand-3pXr91{
    text-align: center;
    border-radius: 20px;

    background-color: var(--channel-color);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV{
    background-color: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
    background-color: var(--channel-color);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active{
    background-color: #293f4757;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{
    background-color: #293f4757;
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ{
    background-color: #293f4757;
}
div.sidebarRegion-VFTUkN{
    color: var(--blue-hue-elements) !important;
    background-color: var(--background-primary) !important;
}
.theme-dark .codeRedemptionRedirect-1wVR4b{
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.scroller-3BxosC{
    height: auto;
    width: auto;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 0px;
    border-radius: 20px;    
}
.colorDefault-2K3EoJ.focused-3afm-j{
    background-color: var(--channel-color);
}
.layer-v9HyYc{
    position: fixed!important;
    z-index: 999;
    height: auto;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iH010){
    background-color: #293f4757 !important;
}
.colorDanger-2qLCe1.focused-3afm-j{
    background-color: #f04747 !important;
}
.theme-dark .root-1gCeng{
    border: 0px solid #293f47!important;
    background-color: #030303;
    overflow: visible!important;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.theme-light .root-1gCeng{
    -webkit-box-shadow: 0 0 0 0px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 0 0px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}
.theme-dark .footer-2gL1pp{
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent!important;
    -webkit-box-shadow: inset 0 0px 0 rgba(47,49,54,.6);
    overflow: auto !important;
}
.theme-light .footer-2gL1pp{
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent!important;
    -webkit-box-shadow: inset 0 0px 0 rgba(47,49,54,.6);
    overflow: auto !important;
}
.content-1LAB8Z{
    overflow: auto !important;
}
.item-26Dhrx[aria-checked=true]{
    background-color: var(--background-primary);
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.container-3auIfb:not([style*="rgb(114, 118, 125)"]), .button-38aScr[style*="114, 137, 218"] {
    background-color: var(--channel-color)!important;
}
.radioIconForeground-XwlXQN{
    color: var(--blue-hue-elements);
}
.css-17mfgdg-container {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{
    background-color: var(--background-primary)!important;
    border-color: var(--channel-color)!important;
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px!important;
}
.cardPrimary-1Hv-to{
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    color: white;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--channel-color);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91:active:not(.hideInteraction-1iH010){
    background-color: var(--channel-color)!important;
}
.authedApp-mj2Hmd{
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.accountList-33MS45{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.connectionHeader-2MDqhu{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 3px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 2px 2px 0px var(--chat-shadow-color) inset;

}
.connectionOptionsWrapper-3KIj1Z{
    border-top: 0px!important;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.integration-3kMeY4{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .feature-2w65J5{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled-1Gx00P.colorGreen-29iAKY{
    background-color: var(--channel-color);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover{
    background-color: var(--channel-color);
}
.theme-dark .checkbox-1ix_J3:not([style*="rgb(114, 137, 218)"]), .checkbox-1ix_J3[style*="114, 137, 218"]{
    background-color: var(--chat-color)!important;
    border-color: var(--channel-color)!important;
}
.planOptionDiscount-cS8uaO{
    background-color: var(--channel-color);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
    background-color: var(--background-primary);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover{
    background-color: var(--channel-color);
}
.card-3AyPWq {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.barFill-23-gu-{
    background: var(--channel-color);
}
.defaultValue-3gC7yw .markValue-2DwdXI{
    color: #7bcbeb;
}
.css-3vaxre-menu{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    overflow: auto!important;
}
.css-gvi9bl-control{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark .card-FDVird:hover {
    background-color: var(--activity-color);
}
.theme-dark .card-FDVird:before {
    background-color: var(--activity-color);
    border-color: var(--channel-color);
}
.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
    border-radius: 20px;
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
}
.theme-dark .game-1ipmAa{
    box-shadow: 0px 1px 0px 0px var(--chat-shadow-color) inset;
}
.added-2hLRj3{
    color: var(--blue-hue-elements)!important;
}
.added-2hLRj3:after{
    background-color: #64a4a8!important;
}
.wrapper-3jrx9n{
    border-color: var(--channel-color);
}
.selected-mKYnfr.option-n0icdO{
    background-color: var(--channel-color);
}
.option-n0icdO:hover{
    background-color: var(--channel-color);
}
.bd-switch-checked{
    background-color: var(--channel-color)!important;
}
.bd-pfbtn{
    background-color: var(--channel-color);
}
.bd-search-wrapper {
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected{
    background-color: var(--channel-color);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover{
    background-color: #293f4757;
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: 1px solid var(--channel-color);
}
.bd-addon-list a {
    color: #64a4a8;
}
.bd-select .bd-select-option{
    background-color: var(--background-primary);
}
.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected {
    background-color: var(--channel-color);
}
.subtitle-8DQCLU, .title-2HFmAi{
    border: 0px!important;
}
.colorBrand-ROmMP1{
    color: var(--blue-hue-elements);
}
.lookOutlined-3sRXeN.colorRed-1TFJan{
    color: var(--blue-hue-elements);
    border: 1px solid var(--blue-hue-elements);
    border-radius: 20px;
}
.authedApp-mj2Hmd:focus-within .deleteApp-dtfZIe, .authedApp-mj2Hmd:hover .deleteApp-dtfZIe{
    color: #f04747;
    border-color: #f04747;
}
.deleteApp-dtfZIe{
    opacity: unset;
}
.theme-dark .subText-2Zhkkh{
    color: #959799;
}
.divider-3573oO{
    border-top: thin solid var(--channel-color);
}

/*Discord Nitro button*/
#user-settings > div > div.sidebarRegion-VFTUkN.da-sidebarRegion > div > nav > div > div:nth-child(8){
    background-color: #123341a6!important;
    color: white!important;
}
#user-settings > div > div.sidebarRegion-VFTUkN.da-sidebarRegion > div > nav > div > div:nth-child(8):focus{
    background-color: var(--channel-color)!important;
    color: white!important;
}

/*Close button*/
.theme-dark .closeButton-1tv5uR{
    border-color: var(--channel-color);
}

/*Add a Server Button & Explore Server Buttons*/
.circleIconButton-1QV--U {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out;
    color: #293f47;
    background-color: var(--background-primary);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: #030303;
}
.scroller-1d5FgU{
    background-color: var(--background-primary);
}
.theme-dark .card-3DjzTQ, .theme-dark .iconMask-3b8GzQ {
    background-color: var(--activity-color);
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.search-1iTphC{
    background-color: transparent!important;
}
.search-1iTphC .searchBox-2_mAlO{
    background-color: var(--activity-color);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background-color: var(--channel-color);
}

/*Blur Username, E-mail and phone in settings*/
.usernameInnerRow-ZlFnET{
    filter: blur(8px);
}
.usernameInnerRow-ZlFnET:hover{
    filter: blur(0px);
    transition: 150ms;
}
.colorHeaderPrimary-26Jzh-.size16-1P40sf{
    filter: blur(8px);
}
.colorHeaderPrimary-26Jzh-.size16-1P40sf:hover{
    filter: blur(0px);
    transition: 150ms;
}
.guildName-1yURO5{
    filter: blur(0px)!important; /*Unblurs the Public Servers discord name*/
}


/*BD Settings*/
#bd-settingspane-container .ui-switch-item{
    text-align: left;
}
.bd-addon-list .bd-addon-card{
    background-color: var(--background-primary)!important;
    background: var(--background-primary)!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px!important;
}

/*Join a server Window*/
.scroller-3__pG8{
    background-color: var(--background-primary);
}

/*Server selected channel*/
.scroller-3__pG8{
    background-color: var(--background-primary);
}
.pill-1dHPfk {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.lookLink-9FtZy-.colorBrand-3pXr91{
    color: var(--blue-hue-elements);
}
.optionContainer-15srkc:hover{
    background-color: #293f4757;
}
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n{
    background-color: #293f4757;
}
.unread-2lAfLh{
    background-color: var(--blue-hue-elements);
    height: 10px;
    width: 7px;
}

/*Notification Settings*/
.lookFilled-22uAsw.select-2fjwPw {
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.popout-VcNcHB{
    border: 1px solid var(--channel-color);
}
.option-3KoAJB.focused-1T6PE5, .option-3KoAJB:focus, .option-3KoAJB:hover{
    background-color: #293f4757;
}


/*Create server window*/
.colorHeaderSecondary-3Sp3Ft{
    color: var(--blue-hue-elements);
}
#uid_8731 > button > div > svg > path {
    fill: var(--blue-hue-elements)!important;
}
.container-UC8Ug1{
    background-color: #030303;
    color:var(--blue-hue-elements)!important;
}
.title-3w8xhj{
    color: white!important;
}
.colorStandard-2KCXvj{
    color: var(--blue-hue-elements);
}

/*Upload pictures*/
.uploadModal-2ifh8j {
    background-color: var(--background-primary)!important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 0 0 20px 20px;
}
.uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx {
    background-color: var(--background-primary)!important;
}

/*Server Boost Window*/
.perksModal-fSYqOq{
    background-color: var(--background-primary)!important;
}
.theme-dark .tierBody-16Chc9 {
    background-color: var(--activity-color)!important;
}
.perk-2WeBWW {
    background-color: var(--activity-color)!important;
}
.ctaBar-2UsjF2 {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}

/*No pin in channel footer*/
.footer-1kmXd4{
    background-color: var(--background-primary);
}
.pro-1T8RK7 {
    color: var(--blue-hue-elements)!important;
}

/*Profile window*/
.root-SR8cQa {
    background-color: var(--background-primary);
}
.topSectionNormal-2-vo2m{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.body-3ND3kc{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-top: 0px;
    border-radius: 0 0 20px 20px;
}
.top-28JiJ- .item-PXvHYJ{
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover{
    border-bottom-color: var(--blue-hue-elements)!important;
}
.note-QfFU8y textarea{
    border-radius: 20px;
    padding: 8px;
}
.connectedAccount-36nQx7 {
    border-radius: 20px;
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.topSectionSpotify-1lI0-P{
    background: var(--background-primary);
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.actionButton-3W1xZa{
    background-color: var(--channel-color)!important;
    color: white!important;
    border-radius: 20px;
}
.tabBarContainer-1s1u-z{
    border-top: 1px solid var(--blue-hue-elements);
}
.topSectionPlaying-1J5E4n{
    background: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: unset;
    border-radius: 20px 20px 0 0!important;
}
.tabBarContainer-1s1u-z {
    border: unset;
}
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border: unset;
}
.tabBarItem-1b8RUP{
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.top-28JiJ- .item-PXvHYJ:active, .top-28JiJ- .item-PXvHYJ:hover{
    border-color: var(--blue-hue-elements)!important;
    color: var(--blue-hue-elements)!important;
}

/*Search results*/
.resultsGroup-r_nuzN {
    background-color: var(--background-primary)!important;
}
.theme-dark .option-96V44q:after {
    background: -webkit-gradient(linear,left top,right top,from(#63a5a818),color-stop(80%,var(--blue-hue-elements)));
    background: linear-gradient(90deg,#63a5a818,var(--blue-hue-elements) 80%);
}
.theme-dark .elevationBorderHigh-2WYJ09 {
    -webkit-box-shadow: 0 0 0 1px #293f47, 0 2px 10px 0 #030303;
    box-shadow: 0 0 0 1px #293f47, 0 2px 10px 0 #030303;
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: #63a5a818!important;
}
.theme-dark .option-96V44q.selected-rZcOL-:after{
    background: -webkit-gradient(linear,left top,right top,from(#63a5a818),color-stop(80%,var(--blue-hue-elements)));
    background: linear-gradient(90deg,#63a5a818,var(--blue-hue-elements) 80%);
}
.theme-dark .focused-2bY0OD{
    background-color: var(--background-primary);
}
.theme-dark .dim-1l4L4y span{
    background-color: var(--channel-color);
}
.theme-dark .queryContainer-RKFJW-{
    background-color: var(--background-primary);
}
.searchHeader-2XoQg7{
    background-color: var(--background-primary);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: var(--channel-color);
}
.input-2VB9rf{
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread-3gTHvA{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe{
    background: transparent;
}

/*Guilds*/
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
    background: none !important;
}
.homeIcon-FuNwkv {
    color: transparent !important;
    background: url(https://rmkx.github.io/LlunaPlena/icon/home-icon.svg) center no-repeat; 
    background-size: 36px;
    z-index: 2;
    width: 56px; height: 56px;
}
.scroller-1Bvpku {
    background-color: var(--background-primary);
}
.guildSeparator-33mFX6{
    background-color: var(--blue-hue-elements);
}
.item-2hkk8m{
    background-color: var(--blue-hue-elements);
}
.circleIconButton-1QV--U.selected-1JjBPm{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--chat-color);
}
.listItem-GuPuDH:focus{
    width: 75%;
    margin: 8px;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.wrapper1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    border-radius: 20px;
    background-color: transparent!important;
}
.numberBadge-2s8kKX{
    background-color: var(--blue-hue-elements)!important;
}

/*Folders*/
.folderIconWrapper-1_bOZe {
    background-color: transparent!important;
    box-shadow: 3px 0px 3px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 5px 0px var(--blue-hue-elements) inset; 
}
.expandedFolderIconWrapper-Huv7rA {
    background-color: transparent!important;
    border: 0px;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset; 
}
.expandedFolderBackground-1cujaW{
    background-color: transparent!important;
    box-shadow: 3px 0px 3px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 5px 0px var(--blue-hue-elements) inset;
    border-radius: 15px;
}

/*Reactions*/
.reaction-1hd86g{
    border-radius: 20px;
}
.reactionInner-15NvIl{
    background-color: transparent;
}
.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: #3953539c
}
.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
    background-color: transparent!important;
    color: #fdfdfd;
}