/**
 * @name         Aurora
 * @description  Enjoy Discord over a calm peaceful lake under the northern lights.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/Aurora/src/aurora.css
 * @author       rmkx#3388
 * @version      1.0 
 */

@import url('https://rmkx.github.io/Aurora/src/aurora.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Put your font url here*/

::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: "Lato"; /*Change the font name you imported here*/
}

:root {
    --hiding-width: 50px; /*Amount that will be shown when the panels hide | Default 50px*/
    --members-hiding-width: 53px; /*Amount that will be shown when the server's members panel hides | Default 60px*/
    --showing-width: 240px; /*Amount that will be shown when the panels show | Default 240*/
    --hidden-background: linear-gradient(195deg, rgba(182,0,92,1) 9%, rgba(255,0,228,0.6166667350533963) 22%, rgba(179,0,255,0.5522409647452731) 37%, rgba(119,0,255,0.6110644941570378) 52%, rgba(51,0,255,0.5550420851934523) 67%, rgba(0,134,255,0.3477591720281863) 84%); /*Background of the elements when hidden*/
    --showing-background: linear-gradient(195deg, rgba(182,0,92,1) 9%, rgba(255,0,228,0.6166667350533963) 22%, rgba(179,0,255,0.5522409647452731) 37%, rgba(119,0,255,0.6110644941570378) 52%, rgba(51,0,255,0.5550420851934523) 67%, rgba(0,134,255,0.3477591720281863) 84%);/*Background of the elements when showing*/
    
    --background-image: url(https://i.imgur.com/eegl3SK.jpg); /*Changes the background image*/
    --bg-blur: 5px; /*changes the blur of the background image*/
    --main-accent: rgb(147, 0, 177); /*Main accent of the theme for little elements*/
    --popout-blur: 5px; /*Changes the blur of elements that appear on screen*/
    --bg-opacity: 0.7; /*Changes the opacity of the background*/
    --text-link: rgb(97, 195, 224); /*Color for links*/

    --panel-boxes: rgba(0, 0, 0, 0.55); /*Changes the background of the surrounded panels*/
    --second-panel-bg: rgba(0, 0, 0, 0.8); /*changes the bg of panels that come out, like right clicking on a user*/
    --panel-border: 0px solid rgb(70, 69, 69); /*Changes the borders of the surrounded panels*/
    --panel-border-radius: 8px; /*Changes the radius of the surrounded panels*/
    
    --chat-bg: rgba(0, 0, 0, 0.5); /*Changes the background of the messages in chat*/
    --chat-hover: rgb(0, 0, 0, 0.55); /*Message background when hovering*/

    --buttons-background: rgba(0, 0, 0, 0.3); /*Changes the color of the buttons*/
    --buttons-border: 0px solid rgb(70, 69, 69); /*Changes the color of the buttons*/
    --buttons-radius: 8px; /*Changes the radius of the buttons*/
    --buttons-disabled: rgba(0, 0, 0, 0.65); /*Changes the color of the buttons when they're disabled*/
    --buttons-color: white; /*Changes the color of the button text*/

    --element-hovered: linear-gradient(195deg, rgba(182,0,92,1) 9%, rgba(255,0,228,0.6166667350533963) 22%, rgba(179,0,255,0.5522409647452731) 37%, rgba(119,0,255,0.6110644941570378) 52%, rgba(51,0,255,0.5550420851934523) 67%, rgba(0,134,255,0.3477591720281863) 84%); /*Changes the color of the background when hovering*/
    --element-hovered-bg: rgba(0, 0, 0, 0.65); /*Changes the bg of the elements when they're hovered*/

    --gradient-background: rgb(82,78,142); /*Changes the background color of the gradient*/
    --underline-gradient: linear-gradient(195deg, rgba(182,0,92,1) 9%, rgba(255,0,228,0.6166667350533963) 22%, rgba(179,0,255,0.5522409647452731) 37%, rgba(119,0,255,0.6110644941570378) 52%, rgba(51,0,255,0.5550420851934523) 67%, rgba(0,134,255,0.3477591720281863) 84%); /*Code for the gradient*/

    --settings-width: 60%; /*Width for the settings window*/
    --settings-heigth: 85%; /*Width for the settings window*/
}