/**
 * @name         Hide Discord Panels
 * @description  Hides the Friends, Server Channel and Server Members panels with some animations.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/hidePanels.css
 * @author       rmkx
 * @version      1.0 
 */

:root {
    --server-hiding-width: 50px; /*Amount that will be shown when the panels hide | Default 50px*/
    --members-hiding-width: 55px; /*Amount that will be shown when the server's members panel hides | Default 55px*/
    --showing-width: 240px; /*Amount that will be shown when the panels show | Default 240*/
    --hidden-background: transparent; /*Background of the elements when hidden*/
    --showing-background: transparent;/*Background of the elements when showing*/
}

@keyframes selectedChannel {
    0% {
        background: var(--hidden-background);
    }
    100% {
        background: var(--showing-background);
    }
}

/*Hides server members list*/
.membersWrap-2h-GB4 {
    width: var(--members-hiding-width);
    min-width: unset;
    justify-content: unset;
    transition: width 0.35s ease-in;
}
.membersGroup-v9BXpm { /*Hides the member's role*/
    color: transparent;
    transition: color 0.35s ease-in;
}
.member-3-YXUe { /*Moves server members a bit to the left and separates them for aesthetic purposes*/
    margin-left: 2px;
    margin-bottom: 3px;
}

/*Shows the server members list*/
.membersWrap-2h-GB4:hover { /*Shows server's members*/
    width: var(--showing-width);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm{ /*Shows members roles when hovering*/
    color: white;
}

/*Hides the server's channel list*/
.sidebar-2K8pFh {
    width: var(--server-hiding-width);
    transition: width 0.35s ease-in;
}
.content-1x5b-n { /*Moves chanels to the left for aesthetic purposes*/
    padding-left: 8px;
    margin-left: 5px;
}
.mainContent-2h-GEV .overflow-WK9Ogt, .icon-2yIBmh{ /*Hides the channel group*/
    color: transparent;
    transition: color 0.35s ease;
}
.wrapper-2tAnRe { /*Hides the amount of people in a voice channel when hidden*/
    visibility: hidden;
    transition: visibility 0.15s ease;
}
.containerDefault-3tr_sE { /*Removes padding between channels when hidden for aesthetical purposes*/
    padding: 0px;
    transition: padding 0.35s ease;
}
.container-2Pjhx-.channel-2QD9_O{ /*Moves the online friends list to the left for aesthetical purposes*/
    margin-left: 0px;
}
.layout-2DM8Md.channel-2QD9_O { /*Moves the online friends list to the left for aesthetical purposes*/
    padding-left: 0px;
}
.containerDefault--pIXnN { /*Server channel normal background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.selected-aXhQR6.container-2Pjhx- { /*Selected friend settings*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.containerDefault--pIXnN .modeSelected-346R90 { /*Selected server channel background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.voiceUserSummary-2X_2vp { /*Voice Channels when collapsed*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.actionIcon-PgcMM2 { /*Hides the invite to channel button when panel is hidden*/
    color: transparent;
    transition: color 0.35s ease;
}
.listeningAlong-30wH70 { /*Hides the listening along panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.35s ease, visibility 0.0000000000000001s ease, padding 0.25s ease;
}
.container-1giJp5 { /*Hides the connected channel panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.35s ease, visibility 0.0000000000000001s ease, padding 0.25s ease;
}
.activityPanel-28dQGo { /*Hides the sharing screen panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.35s ease, visibility 0.0000000000000001s ease, padding 0.25s ease;
}
.list-2luk8a { /*Moves people connected to a voice channel when hidden*/
    padding-left: 5px;
    transition: padding 0.35s ease;
}
.addButton-3bLyEA { /*Hides the add channel in the channel list*/
    color: transparent;
    transition: color 0.35s ease;
}
.listDefault-3ir5aS .avatarContainer-28iYmV { /*Centers the avatars of peole connected to a vc even more*/
    margin-left: 5px;
}
.mentionsBadge-3tC7Mi { /*Mentioned in a channel*/
    top: 15px;
    left: 7px;
    transition: left 0.35s ease-in, top 0.35s ease-in;
}
.header-2V-4Sw { /*Server name*/
    width: 42px;
    transition: width 0.35s ease-in;
}
.button-1w5pas { /* Arrow button*/
    margin-left: -3px;
}
.privateChannelsHeaderContainer-3NB1K1, .privateChannelsHeaderContainer-3NB1K1 > .clickable-3rdHwn .icon-22AiRD { /*New Direct Message text*/
    color: transparent;
    transition: color 0.35s ease;
}

/*Shows the server's channel list*/
.sidebar-2K8pFh:hover {
    width: var(--showing-width);
}
.sidebar-2K8pFh:hover .mainContent-2h-GEV .overflow-WK9Ogt, .sidebar-2K8pFh:hover .mainContent-2h-GEV .icon-2yIBmh{  /*Shows channel group*/
    color: white;
}
.sidebar-2K8pFh:hover .containerDefault-3tr_sE { /*Animates the movement of the channel groups when they show*/
    padding: 4px;
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .actionIcon-PgcMM2 { /*Shows the invite to channel button when panel is hovered*/
    color: white;
}
.sidebar-2K8pFh:hover .listeningAlong-30wH70 { /*Shows the listening along panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .activityPanel-28dQGo { /*Shows the sharing screen panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .container-1giJp5 { /*Shows the connected channel panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .selected-aXhQR6.container-2Pjhx- { /*Selected showing settings*/
    animation: selectedChannel 0.35s ease;
    animation-fill-mode: forwards;
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .modeSelected-346R90 { /*Selected server channel showing background*/
    animation: selectedChannel 0.35s ease;
    animation-fill-mode: forwards;
}
.sidebar-2K8pFh:hover .voiceUserSummary-2X_2vp { /*Showing collapsed voice chanels on server*/
    background-color: transparent;
    background: transparent;
}
.sidebar-2K8pFh:hover .wrapper-2tAnRe { /*Showing the amount of people in a voice channel*/
    visibility: visible;
}
.sidebar-2K8pFh:hover .list-2luk8a { /*Moves the connected users in a voice channel back to default place*/
    padding-left: 36px;
}
.sidebar-2K8pFh:hover .addButton-3bLyEA { /*Shows the add server button on the channels list*/
    color: white;
}
.sidebar-2K8pFh:hover .mentionsBadge-3tC7Mi { /*Mentioned in a channel when hovering*/
    left: initial;
    top: initial;
}
.sidebar-2K8pFh:hover .header-2V-4Sw { /*Showing server name*/
    width: var(--showing-width);
}
.sidebar-2K8pFh:hover .content-3YMskv .privateChannelsHeaderContainer-3NB1K1, .sidebar-2K8pFh:hover .privateChannelsHeaderContainer-3NB1K1 > .clickable-3rdHwn .icon-22AiRD { /*Shows DM text*/
    color: white;
}