/**
 * @name         Hidden Server Members
 * @description  Hides server members.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/hideMembers.css
 * @author       rmkx
 * @version      1.0 
 */

:root {
    --members-hiding: 79%; /*Amount that will be shown when the server's members panel hides | Default 79%*/
    --members-showing: 4%; /*Amount that will be shown when the server's members panel show | Default 4%*/
    --hidden-background: transparent; /*Background of the elements when hidden*/
    --showing-background: transparent;/*Background of the elements when showing*/
    --transition-speed: 0.35s; /*Changes the transition speed*/
}

/*Hides server members list*/
.membersWrap-2h-GB4 {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    -webkit-transform: translateX(var(--members-hiding));
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    transform: translateX(var(--members-hiding));
    justify-content: unset;
    transition: transform var(--transition-speed) ease-in;
    will-change: transform;
  }
  .membersGroup-v9BXpm { /*Hides the member's role*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease-in;
    will-change: color;
  }
  .member-3-YXUe { /*Moves server members a bit to the left and separates them for aesthetic purposes*/
    margin-left: 2px;
    margin-bottom: 3px;
  }
  
  /*Shows the server members list*/
  .membersWrap-2h-GB4:hover { /*Shows server's members*/
    transform: translateX(var(--members-showing));
  }
  .membersWrap-2h-GB4:hover .membersGroup-v9BXpm{ /*Shows members roles when hovering*/
    color: white;
  }