/**
 * @name         Hide Discord Panels
 * @description  Hides the Server list, Channel list and Server User list.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/LlunaPlena/src/llunaplena.css
 * @author       rmkx#3388
 * @version      1.0 
 */

 :root {
    --hiding-width: 45px; /*Amount that will be shown when the panels hide | Default 45px*/
    --showing-width: auto; /*Amount that will be shown when the panels show | Default auto*/
    --hiden-shadow: rgb(71, 228, 228); /*Color of the selected channel when it's hidden*/
}

/*Animations*/
@keyframes channelListShow {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 16px;
    }
}

@keyframes channelShow {
    0% {
        color: transparent;
    }
    100% {
        color: white;
    }
}
@keyframes serverMembersShow {
    0% {
        min-width: 0px;
    }
    100% {
        min-width: 240px;
    }
}
@keyframes serverChannelsShow {
    0% {
        min-width: 0px;
    }
    100% {
        min-width: 240px;
    }
}

/*Hides server members list*/
.membersWrap-2h-GB4 {
    width: var(--hiding-width);
    min-width: unset;
    justify-content: unset;
}

/*Shows the server members list*/
.membersWrap-2h-GB4:hover { /*Shows server's members*/
    animation: serverMembersShow 0.5s ease-in;
    animation-fill-mode: forwards;
}
.member-3-YXUe { /*Moves members a bit to the left for aesthetic purposes*/
    margin-left: 0px;
}

/*Hides the server's channel list*/
.sidebar-2K8pFh {
    width: var(--hiding-width);
}
.modeSelected-346R90 .content-1x5b-n { /*Selected channel settings*/
    background-color: transparent;
}
.modeSelected-346R90 .icon-1DeIlz { /*Selected channel's icon settings*/
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--hiden-shadow);
}
.content-1x5b-n { /*Moves chanels to the left for aesthetic purposes*/
    padding-left: 4px;
}
.mainContent-2h-GEV .overflow-WK9Ogt, .icon-2yIBmh{ /*Hides the channel group*/
    color: transparent;
}
.containerDefault-3tr_sE { /*Removes padding between channels when hidden for aesthetical purposes*/
    padding: 0px;
}

/*Shows the server's channel list*/
.sidebar-2K8pFh:hover {
    animation: serverChannelsShow 0.5s ease-in;
    animation-fill-mode: forwards;
}
.sidebar-2K8pFh:hover  .containerDefault--pIXnN .modeSelected-346R90 .content-1x5b-n{ /*Changes the background color of the selected channel when showing the channel list*/
    background-color: rgba(26, 23, 23, 0.164)!important;
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .modeSelected-346R90 .icon-1DeIlz { /*Removes the box-shadow from the # icon when showing the channel list*/
    box-shadow: unset!important;
}
.sidebar-2K8pFh:hover .mainContent-2h-GEV .overflow-WK9Ogt, .sidebar-2K8pFh:hover .mainContent-2h-GEV .icon-2yIBmh{ /*Shows channel group*/
    animation: channelShow 1s ease;
    animation-fill-mode: forwards;
}
.sidebar-2K8pFh:hover .containerDefault-3tr_sE { /*Animates the movement of the channel groups when they show*/
    animation: channelListShow 1s ease;
    animation-fill-mode: forwards;
}   

/*Channel's unread messages settings*/
.unread-2lAfLh {
    background-color: #fff;
    box-shadow: 0px 0px 8px -2px #0ff;
}