/**
 * @name         Hide Discord Panels
 * @description  Hides the Friends, Channel list and Server User list.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/hidePanels.css
 * @author       rmkx#3388
 * @version      1.0 
 */

 :root {
    --hiding-width: 50px; /*Amount that will be shown when the panels hide | Default 50px*/
    --showing-width: 240px; /*Amount that will be shown when the panels show | Default 240*/
    --hidden-shadow: rgb(71, 228, 228); /*Color of the selected channel's glow/border when it's hidden*/
}

/*Hides server members list*/
.membersWrap-2h-GB4 {
    width: var(--hiding-width);
    min-width: unset;
    justify-content: unset;
    transition: width 0.8s ease-in;
}

/*Shows the server members list*/
.membersWrap-2h-GB4:hover { /*Shows server's members*/
    width: var(--showing-width);
}
.member-3-YXUe { /*Moves server members a bit to the left for aesthetic purposes*/
    margin-left: 2px;
}

/*Hides the server's channel list*/
.sidebar-2K8pFh {
    width: var(--hiding-width);
    transition: width 0.8s ease-in;
}
.modeSelected-346R90 .content-1x5b-n { /*Selected channel settings*/
    background-color: transparent;
    transition: background-color 0.8s ease;
}
.modeSelected-346R90 .icon-1DeIlz { /*Selected channel's icon settings*/
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--hidden-shadow);
    transition: border-radius 0.8s ease, box-shadow 0.8s ease;
}
.content-1x5b-n { /*Moves chanels to the left for aesthetic purposes*/
    padding-left: 8px;
}
.mainContent-2h-GEV .overflow-WK9Ogt, .icon-2yIBmh{ /*Hides the channel group*/
    color: transparent;
    transition: color 1s ease;
}
.containerDefault-3tr_sE { /*Removes padding between channels when hidden for aesthetical purposes*/
    padding: 0px;
    transition: padding 1s ease;
}
.container-2Pjhx-.channel-2QD9_O{ /*Moves the online friends list to the left for aesthetical purposes*/
    margin: 0px!important;
}
.layout-2DM8Md.channel-2QD9_O { /*Moves the online friends list to the left for aesthetical purposes*/
    padding-left: 0px;
}
.selected-aXhQR6 .layout-2DM8Md { /*Selected friend's settings*/
    background-color: transparent;
    transition: background-color 0.8s ease;
}
.selected-aXhQR6 .layout-2DM8Md .avatar-3uk_u9 { /*Glow over the selected friend's avatar*/
    border-radius: 20px;
    box-shadow: 0px 0px 6px var(--hidden-shadow);
    transition: border-radius 0.8s ease, box-shadow 0.8s ease;
}
.actionIcon-PgcMM2 { /*Hides the invite to channel button when panel is hidden*/
    color: transparent;
    transition: color 1.3s ease;
}
.listeningAlong-30wH70 { /*Hides the listening along panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.8s ease, visibility 0.0000000000000001s ease, padding 0.7s ease;
}
.container-1giJp5 { /*Hides the connected channel panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.8s ease, visibility 0.0000000000000001s ease, padding 0.7s ease;
}

/*Shows the server's channel list*/
.sidebar-2K8pFh:hover {
    width: var(--showing-width);
}
.sidebar-2K8pFh:hover  .containerDefault--pIXnN .modeSelected-346R90 .content-1x5b-n{ /*Changes the background color of the selected channel when showing the channel list*/
    background-color: rgba(26, 23, 23, 0.164)!important;
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .modeSelected-346R90 .icon-1DeIlz { /*Removes the box-shadow from the # icon when showing the channel list*/
    box-shadow: unset!important;
}
.sidebar-2K8pFh:hover .mainContent-2h-GEV .overflow-WK9Ogt, .sidebar-2K8pFh:hover .mainContent-2h-GEV .icon-2yIBmh{ /*Shows channel group*/
    color: white;
}
.sidebar-2K8pFh:hover .containerDefault-3tr_sE { /*Animates the movement of the channel groups when they show*/
    padding: 4px;
}
.sidebar-2K8pFh:hover .selected-aXhQR6 .layout-2DM8Md { /*Changes the background color of the selected friend when showing the friends list*/
    background-color: rgba(255, 248, 248, 0.212)!important;
}
.sidebar-2K8pFh:hover .selected-aXhQR6 .layout-2DM8Md .avatar-3uk_u9 { /*Removes the glow from the avatar when showing the friends list*/
    border-radius: 0px;
    box-shadow: 0px 0px 0px var(--hidden-shadow);
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .actionIcon-PgcMM2 { /*Shows the invite to channel button when panel is hovered*/
    color: white;
}
.sidebar-2K8pFh:hover .listeningAlong-30wH70 { /*Shows the listening along panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .container-1giJp5 { /*Shows the connected channel panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}

/*Channel's unread messages settings*/
.unread-2lAfLh {
    background-color: #fff;
    box-shadow: 0px 0px 8px -2px #0ff;
}