/**
 * @name         Transparent CSS sheet
 * @description  Sets discord to be FULLY transparent.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/transparentDiscord.css
 * @author       rmkx#3388
 * @version      1.0 
 */

:root {
    --background-image: url(https://i.imgur.com/YiHlt7b.jpg); /*Changes the background image*/
    --bg-blur: 5px; /*Amount of blur on the background*/
    --bg-main-panels: rgba(0,0,0,0); /*Changes the transparency of the main panels, modify the "y" on the rgba (x,x,x,y)*/
    --bg-second-panels: rgba(0,0,0,0); /*Changes the transparency of the secondary panels, modify the "y" on the rgba (x,x,x,y)*/
}

/*Modifies the background*/
#app-mount:before {
    content: "";
    background: var(--background-image);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(var(--bg-blur));
}

/*Transparent panels*/
.app-2rEoOp { /*Discord Background*/
    background-color: var(--bg-main-panels);
}
.theme-dark .container-1D34oG { /*Friends window*/
    background-color: var(--bg-main-panels);
}
.platform-win .bg-h5JY_x { /*Friends Window*/
    background-color: var(--bg-main-panels);
}
.nowPlayingColumn-2sl4cE { /*Active now Panel*/
    background: var(--bg-main-panels);
}
.wrapper-3D2qGf /*Playing now Panel*/{
    background-color: var(--bg-main-panels);
}
.sidebar-2K8pFh { /*Friends list panel*/
    background-color: var(--bg-main-panels);
}
.scroller-1JbKMe { /*Friends list panel*/
    background-color: var(--bg-main-panels);
}
.privateChannels-1nO12o { /*Friends list panel*/
    background-color: var(--bg-main-panels);
}
.panels-j1Uci_ { /*User are panel*/
    background-color: var(--bg-main-panels);
}
.container-1r6BKw.themed-ANHk51 { /*Friends window Top Bar*/
    background-color: var(--bg-main-panels);
}
.typeWindows-1za-n7 { /*Windows bar*/
    background-color: var(--bg-main-panels);
}
.wrapper-3NnKdC { /*Guilds/Servers transparency*/
    background-color: var(--bg-main-panels);
}
.scroller-1Bvpku {
    background-color: var(--bg-main-panels);
}
.folder-1hbNCn, .folderIconWrapper-1_bOZe { /*Folders' transparency*/
    background-color: var(--bg-main-panels)!important;
}
.expandedFolderBackground-1cujaW { /*Expanded folder's transparency*/
    background-color: var(--bg-main-panels);
}
.circleIconButton-1QV--U { /*Explore Server and Add Server background transparency*/
    background-color: var(--bg-main-panels);
}
.container-3w7J-x { /*Server's channel transparency*/
    background-color: var(--bg-main-panels);
}
.chat-3bRxxu { /*Chat transparency*/
    background-color: var(--bg-main-panels);
}
.theme-dark .form-2fGMdU:before { /*Weird thing on the left of chat*/
    background: var(--bg-main-panels);
}
.form-2fGMdU { /*Message box transparency*/
    background-color: var(--bg-main-panels);
}
.channelTextArea-rNsIhG { /*Message box transparency*/
    background-color: var(--bg-main-panels);
}
.scrollableContainer-2NUZem { /*Message box transparency*/
    background-color: var(--bg-main-panels);
}
.members-1998pB, .members-1998pB>div { /*Server's members transparency*/
    background-color: var(--bg-main-panels);
}
.searchBar-3dMhjb { /*Server's search box transparency*/
    background-color: var(--bg-main-panels);
}
.layer-3QrUeG { /*Settings window transparency*/
    background-color: var(--bg-main-panels);
}
.standardSidebarView-3F1I7i { /*Settings window transparency*/
    background-color: var(--bg-main-panels);
}
.sidebarRegionScroller-3MXcoP { /*Settings window left side transparency*/
    background: var(--bg-main-panels);
}
.contentRegion-3nDuYy { /*Settings window right side transparency*/
    background-color: var(--bg-main-panels);
}
.contentRegionScroller-26nc1e { /*Settings window right side transparency*/
    background-color: var(--bg-main-panels);
}
.background-1QDuV2 { /*Settings window My account transparency*/
    background-color: var(--bg-second-panels);
}
.fieldList-21DyL8 { /*Settings window My account transparency*/
    background-color: var(--bg-second-panels);
}
.item-26Dhrx { /*Some settings options background*/
    background-color: var(--bg-second-panels);
}
.item-26Dhrx[aria-checked=true] { /*Selected item background in settings*/
    background-color: var(--bg-second-panels);
}
.cardPrimaryOutline-29Ujqw, .cardPrimary-1Hv-to { /*Authorized Apss border and background*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.accountList-33MS45 { /*Connections header*/
    background-color: var(--bg-second-panels);
}
.connection-1fbD7X { /*Connected accounts body*/
    background-color: var(--bg-second-panels);
}
.connectionHeader-2MDqhu { /*Connected accounts header*/
    background-color: var(--bg-second-panels);
}
.integration-3kMeY4 { /*Sub enabled servers*/
    background-color: var(--bg-second-panels);
}
.theme-dark .feature-2w65J5 { /*Discord Nitro panels*/
    background-color: var(--bg-second-panels);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6, .lookFilled-1Gx00P.colorGreen-29iAKY { /*Discord Nitro buttons*/
    background-color: var(--bg-second-panels);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover, .lookFilled-1Gx00P.colorGreen-29iAKY:hover { /*Discord Nitro buttons*/
    background-color: var(--bg-second-panels);
}
.cardWrapper-2Min21 { /*Server boost servers*/
    background-color: var(--bg-second-panels);
}
.theme-dark .codeRedemptionRedirect-1wVR4b { /*billind window*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.css-gvi9bl-control, .css-gvi9bl-control:hover, .css-gvi9bl-control:focus { /*devices border*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.css-6fzn47-control { /*Selected devices border*/
    border-color: var(--bg-second-panels);
    background-color: var(--bg-second-panels);
}
.css-3vaxre-menu,.css-3vaxre-menu:hover { /*Dropdown devices list*/
    border-color: var(--bg-second-panels)!important;
    background-color: var(--bg-second-panels);
}
.lookFilled-1Gx00P.colorBrand-3pXr91,.lookFilled-1Gx00P.colorBrand-3pXr91:hover {/*Test device buttons*/
    background-color: var(--bg-second-panels);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {/*Disabled test device buttons*/
    background-color: var(--bg-second-panels);
}
.lookFilled-22uAsw.select-2fjwPw { /*Selector transparency*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.option-3KoAJB, .popout-VcNcHB { /*Selector dropdown menu*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.option-3KoAJB[aria-selected=true] { /*Selector dropdown menu selected item*/
    background-color: var(--bg-second-panels);
}
.option-3KoAJB:hover { /*Selector dropdown menu hovered item*/
    background-color: var(--bg-second-panels);
}
.theme-dark .card-FDVird:before { /*Keybinds hover*/
    background-color: var(--bg-second-panels);
    border-color: var(--bg-second-panels);
}
.theme-dark .notDetected-33MY4s { /*No game detected banner*/
    background-color: var(--bg-second-panels);
}
.wrapper-3jrx9n {
    border-color: var(--bg-second-panels);
}
.theme-dark .root-1gCeng { /*changelog panel*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.theme-dark .footer-2gL1pp { /*changelog pannel footer*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.bd-button, .bd-button:hover { /*BD Button*/
    background-color: var(--bg-second-panels);
}
.bd-addon-views .bd-view-button.selected { /*BD views button*/
    background-color: var(--bg-second-panels);
}
.bd-search-wrapper { /*BD seach box*/
    background-color: var(--bg-second-panels);
}
.bd-addon-list .bd-addon-card, .bd-addon-list .bd-addon-header { /*BD themes box*/
    background: var(--bg-second-panels);
}
.menu-3sdvDG { /*Server settings menu*/
    background: var(--bg-second-panels);
    box-shadow: unset;
}
.header-2V-4Sw { /*Server name/settings panel*/
    box-shadow: unset;
}
.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw { /*Server settings clicked panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .perksModal-fSYqOq { /*Server boost pop-up window*/
    background-color: var(--bg-main-panels);
}
.ctaBar-2UsjF2 { /*Server that you're boosting panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .tierBody-16Chc9 { /*Server tier*/
    background-color: var(--bg-second-panels);
}
.theme-dark .perk-2WeBWW {/*Boost rewards*/
    background-color: var(--bg-second-panels);
}
.container-enaOkj { /*Inbox window*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.header-ykumBX { /*Inbox window header*/
    background-color: var(--bg-second-panels);
}
.icon-1Itzco {/*Empty inbox icon bg*/
    background-color: var(--bg-second-panels);
}
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa { /*Inbox selected option*/
    background-color: var(--bg-second-panels);
}
.theme-dark .children-19S4PO:after { /*weird gradient on the server top bar*/
    background: var(--bg-second-panels);
}
.theme-dark .container-3ayLPN { /*Server search results menu*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.theme-dark .option-96V44q.selected-rZcOL- { /*Server search selected option*/
    background-color: var(--bg-second-panels);
}
.theme-dark .option-96V44q.selected-rZcOL-:after { /*Server search selected option gradient*/
    background: var(--bg-second-panels);
}
.theme-dark .option-96V44q:after { /*Server search results after gradient*/
    background: var(--bg-second-panels);
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 { /*Server seach filter bg*/
    background-color: var(--bg-second-panels);
}
.messagesPopoutWrap-1MQ1bW, .header-ykumBX, .footer-1kmXd4 { /*Pinned messages panel no pins*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.messageGroupWrapper-o-Zw7G { /*Pinned messages panel with pins*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.jumpButton-3DTcS_ { /*Jump to message button*/
    background-color: var(--bg-second-panels);
}
.actionButton-uPB8Fs, .actionButton-uPB8Fs:hover { /*Friends buttons*/
    background-color: var(--bg-second-panels);
}
.actionButton-uPB8Fs.highlight-Lf97TE { /*Friends buttons when hovering over a friend*/
    background-color: var(--bg-second-panels);
}
.wrapper-1cBijl { /*Add friend wrapper*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.theme-dark .sectionHeader-20RGqu { /*Add friend wrapper*/
    border: unset;
}
.tabBar-ZmDY9v .item-3HknzM[aria-controls="ADD_FRIEND-tab"] { /*Add friend button*/
    background-color: var(--bg-second-panels)!important;
}
.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover { /*Activity card hover*/
    background-color: var(--bg-second-panels);
}
.container-UC8Ug1 { /*Create a server categories*/
    border: unset;
    background-color: var(--bg-second-panels);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV, .lookFilled-1Gx00P.colorGrey-2DXtkV:hover { /*Create a server join button*/
    background-color: var(--bg-second-panels);
}
.input--jS-j2 { /*Discord URL to join server*/
    background-color: var(--bg-second-panels);
}
.container-2XeR5Z { /*New group DM friends search bar*/
    background-color: var(--bg-second-panels);
}
.theme-dark .friendSelected-1sa4bG { /*New group DM friends search bar hovered friend*/
    background-color: var(--bg-second-panels);
}
.tag-2gHSR7 { /*Selected friend in the search bar*/
    background-color: var(--bg-second-panels);
}
.selected-aXhQR6 .layout-2DM8Md { /*Selected friend/category in friends window*/   
    background-color: var(--bg-second-panels);
}
.clickable-1JJAn8:hover .layout-2DM8Md { /*Hovered friend/category in friends window*/   
    background-color: var(--bg-second-panels);
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ { /*Selected friends status (top bar with online, blocked, etc)*/
    background-color: var(--bg-second-panels);
}
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) { /*Hovered friends status (top bar with online, blocked, etc)*/
    background-color: var(--bg-second-panels);
}
.wrapper-2aW0bm { /*Reply/settings when hovering over a message in chat*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.full-motion .wrapper-2aW0bm:hover { /*Hovered reply/settings buttons in chat*/
    box-shadow: unset;
}
.container-2fRDfG { /*Replying to... panel*/
    background-color: var(--bg-second-panels);
}
.content-1o0f9g { /*Messages date*/
    background: var(--bg-second-panels);
}
.emojiPicker-3PwZFl, .header-8ilj5e { /*Add Emoji tab*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.wrapper-1-Fsb8, .wrapper-2Gsate { /*Add Emoji tab frequently used/server headers, left bar panel*/
    background-color: var(--bg-second-panels);
}
.inspector-S2gM3e { /*Add Emoji server info*/
    background-color: var(--bg-second-panels);
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV { /*Add emoji hovered*/
    background-color: var(--bg-second-panels);
}
.reaction-1hd86g.reactionMe-wv5HKu { /*Self added reaction*/
    background-color: var(--bg-second-panels);
}
.reaction-1hd86g { /*Unreacted reaction*/
    background-color: var(--bg-second-panels);
}
.wrapper-39oAo3 { /*Chat box can't type until you do something panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover { /*Follow updates button*/
    background-color: var(--bg-second-panels);
}
.theme-dark .header-1pGpFt { /*Pop up window when you click follow to get updates on your server*/
    background-image: unset;
    background-color: var(--bg-second-panels);
}
.channel-2PJTLY, .channelContainer-1x3D6I { /*Chanel to follow updates*/
    background-color: var(--bg-second-panels);
}
.theme-dark .inset-3sAvek { /*Playing now panel*/
    background-color: var(--bg-second-panels);
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx, .searchBar-6Kv8R2 { /*Find or start a conversation button*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.quickswitcher-3JagVE { /*Find conversation window*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.input-2VB9rf { /*Find conversation input box*/
    background-color: var(--bg-second-panels);
    box-shadow: none;
}
.scroller-zPkAnE { /*Find conversation results*/
    background-color: var(--bg-second-panels);
}
.resultFocused-3aIoYe { /*Find conversation results selected*/
    background-color: var(--bg-second-panels);
}
.protip-1b9XPC { /*Pro tip footer*/
    border: unset;
}
.input-cIJ7To { /*Server name when creating box*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.markup-2BOw-j code { /*Code in chat*/
    background: var(--bg-second-panels);
    border: unset;
}
.mentioned-xhSam7 { /*Mentioned background*/
    background-color: var(--bg-second-panels);
}
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n { /*Server selected channel*/
    background-color: var(--bg-second-panels);
}
.wrapper-2jXpOf:hover .content-1x5b-n { /*Server hovered chanel*/
    background-color: var(--bg-second-panels);
}
.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover{ /*Hovered message in chat*/
    background-color: var(--bg-second-panels);
}
.newMessagesBar-265mhP { /*New messages bar*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.wrapper-35wsBm { /*Discord server invite in chat*/
    background-color: var(--bg-second-panels);
}
.embedFull-2tM8-- { /*Embed background*/
    border: unset;
    background-color: var(--bg-second-panels);
}
.userPopout-3XzG_A { /*User card*/
    box-sizing: unset;
}
.headerPlaying-j0WQBV { /*User card playing now*/
    background-color: var(--bg-second-panels);
}
.headerStreaming-2FjmGz { /*User card streaming*/
    background-color: var(--bg-second-panels);
}
.headerSpotify-zpWxgT { /*User card spotify*/
    background-color: var(--bg-second-panels);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .headerNormal-T_seeN { /*User card*/
    background-color: var(--bg-second-panels);
}
.textarea-2r0oV8:focus { /*User card set note and message focused*/
    background-color: var(--bg-second-panels);
}
.botTagInvert-18-95s { /*Bot tag in User Card*/
    background-color: var(--bg-second-panels);
}
.botTagRegular-2HEhHi { /*Bot tag in server members list*/
    background-color: var(--bg-second-panels);
}
.button-14-BFJ.enabled-2cQ-u7:hover { /*User status hover buttons*/
    background-color: var(--bg-second-panels);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ { /*User card buttons*/
    border: unset;
}
.root-SR8cQa { /*Profile first class background*/
    background-color: var(--bg-second-panels);
}
.topSectionPlaying-1J5E4n { /*Profile top section playing*/
    background: var(--bg-second-panels);
}
.topSectionNormal-2-vo2m { /*Profile top section normal*/
    background-color: var(--bg-second-panels);
}
.topSectionSpotify-1lI0-P { /*Profile top section Spotify*/
    background-color: var(--bg-second-panels);
}
.topSectionStreaming-1Tpf5X { /*Profile top section Streaming*/
    background-color: var(--bg-second-panels);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 { /*Profile send friend request button*/
    background-color: var(--bg-second-panels);
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover { /*Profile send friend request button hovered*/
    background-color: var(--bg-second-panels);
}
.buttonInvertedPurple-WtBglX { /*Profile streaming send friend request*/
    background-color: var(--bg-second-panels);
}
.lookInverted-2D7oAl.colorGreen-29iAKY { /*Profile listening to spotify send friend request*/
    background-color: var(--bg-second-panels);
}
.body-3ND3kc { /*Profile bottom part*/
    background-color: var(--bg-second-panels);
}
.connectedAccount-36nQx7 { /*Profile connected account*/
    border: unset;
}
.tabBarContainer-1s1u-z { /*profile top divider*/
    border: unset;
}
.userInfoSection-2acyCx+.userInfoSection-2acyCx { /*Profile second divider*/
    border: unset;
}
.card-2Mz_4z { /*Go live Screen/Channel boxes*/
    border: unset;
    background-color: var(--bg-second-panels);
}
.selectorButton-EEUWed { /*Go live quality buttons*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover { /*Hover over quality settings*/
    background-color: var(--bg-second-panels);
}
.theme-dark .item-3T2z1R { /*Quality settings button border*/
    border: unset;
}
.tile-2w4k5N:hover .sourceThumbnail-27dolk { /*Removes thumbnail blue border on hover*/
    box-shadow: unset;
}
.sourceThumbnail-27dolk.selected-1nOkyc { /*Removes thumbnail blue border on selected*/
    box-shadow: unset;
}
.settingCard-3w2mVL { /*Channel Permisions card*/
    background: var(--bg-second-panels);
}
.theme-dark .card-o7rAq- { /*Integrations card*/
    border: unset;
}
.cardPrimaryEditable-3KtE4g { /*Integrations card*/
    background-color: var(--bg-second-panels);
}
.iconWrapper-lS1uig { /*Integrations icons background*/
    background-color: var(--bg-second-panels);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--bg-second-panels);
}
.textContainer-C0szpm { /*Files preview in chat*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.footer-2yA7Ep { /*Footer of the preview files in chat*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.emptyCard-1RJw8n { /*Active Now no active friends*/
    background: var(--bg-second-panels);
    border: unset;
}
.theme-dark .uploadModal-2ifh8j { /*Upload file panel*/
    background-color: var(--bg-main-panels);
    box-shadow: unset;
}
.theme-dark .footer-3mqk7D { /*Upload file panel*/
    background-color: var(--bg-main-panels);
    box-shadow: unset;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j { /*Upload file panel*/
    background-color: var(--bg-main-panels);
    box-shadow: unset;
}
.role-1P70N6 { /*Role buttons on some channels*/
    background-color: var(--bg-second-panels);
}
.childWrapper-anI2G9 { /*Home icon background*/
    background-color: var(--bg-second-panels);
}
.container-3RCQyg { /*Border color on panel on a new channel*/
    border: unset;
}
.emptyChannelIcon-cc932w { /*Icon on new empty channel*/
    background-color: var(--bg-second-panels);
}
.button-F9qN4n { /*Emoji buttons on right click on message*/
    background-color: var(--bg-second-panels);
}
.button-1ZiXG9:hover { /*Message buttons that appear when hovering*/
    background-color: var(--bg-second-panels);
}
.contentWrapper-SvZHNd { /*Emoji panel from chat*/
    background-color: var(--bg-second-panels);
}
.contentWrapper-SvZHNd { /*Emoji panel from chat*/
    background-color: var(--bg-second-panels);
}
.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover { /*Some buttons in the emoji panel*/
    background-color: var(--bg-second-panels);
}
.guildIcon-3h-1IH { /*Background from the server channels in emoji panel*/
    background-color: var(--bg-second-panels);
}
.navButtonActive-1MkytQ { /*Active button on emoji panel*/
    background-color: var(--bg-second-panels);
}
.container-cMG81i { /*Search bar in gif panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A { /*Selected gif category background*/
    background-color: var(--bg-second-panels);
}
.theme-dark .emptyHintCard-2mUdMe { /*Selected category empty gif*/
    background-color: var(--bg-second-panels);
}
.theme-dark .categoryFadeBlurple-1j72_A:hover, .theme-light .categoryFadeBlurple-1j72_A:hover { /*Hovered gif category*/
    background-color: var(--bg-second-panels);
}
.wrapper-2qzCYF.minimum-28Z35l { /*Call background*/
    background-color: var(--bg-second-panels);
}
.colorable-1bkp8v.primaryDark-3mSFDl { /*Call buttons background*/
    background: var(--bg-second-panels);
}
.background-ujHpbY { /*Call mini screens background*/
    background-color: var(--bg-second-panels)!important;
}
.participantsButton-KYW-IW { /*Call buttons background*/
    background: var(--bg-second-panels); 
}
.jumpToPresentBar-G1R9s6 { /*Jump to pressent message bar*/
    background-color: var(--bg-second-panels);
}
.activity-11LB_k { /*Used card activity*/
    background-color: var(--bg-second-panels);
}
.button-1ZiXG9.selected-LCBEAU { /*Selected button on message (Reply/Settings)*/
    background-color: var(--bg-second-panels);
}
.activity-11LB_k { /*User activity fix*/
    background-color: var(--bg-second-panels);
}
.theme-dark .game-1ipmAa { /*Game Activity settings window*/
    box-shadow: unset;
}
.game-1ipmAa .removeGame-2JFGPn, .game-1ipmAa:hover .removeGame-2JFGPn { /*Remove button hvoered background*/
    background-color: var(--bg-second-panels);
}
.theme-dark .streamPreview-2-WUWT { /*Stream preview*/
    background: var(--bg-second-panels);
}
.activityPanel-28dQGo { /*Sharing screen panel*/
    border: unset;
}
.emojiSection-3Fb9ix, .guildSection-1EoFKd { /*Click on emoji in chat panel*/
    background: var(--bg-second-panels);
}
.wrapper-2qzCYF { /*Call background*/
    background: var(--bg-second-panels);
}
.tile-2naSqK { /*Call background user*/
    background: var(--bg-second-panels);
}
.searchResultsWrap-3-pOjs { /*Search results panel*/
    background-color: var(--bg-second-panels);
}
.searchHeader-2XoQg7 { /*Search results header*/
    background-color: var(--bg-second-panels);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 { /*Filter button*/
    background-color: var(--bg-second-panels);
}
.searchHeader-2XoQg7 .tab-2j5AEF {
    background-color: var(--bg-second-panels);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 { /*Search results panel filter*/
    background-color: var(--bg-second-panels);
}
.searchHeader-2XoQg7 .tab-2j5AEF:hover:not([aria-selected="true"]) { /*Hover filter buttons*/
    background-color: var(--bg-second-panels);
}
.headerXbox-3G-4PF { /*Xbox playing now*/
    background-color: var(--bg-second-panels);
}
.topSectionXbox-3fWLjS { /*Xbox playing now profile*/
    background-color: var(--bg-second-panels);
}
.theme-dark .autocomplete-1vrmpx { /*Autocomplete box*/
    background-color: var(--bg-second-panels);
}
.theme-dark .selected-1Tbx07 { /*Autocomplete hovered*/
    background-color: var(--bg-second-panels);
}
.scroller-305q3I { /*Server roles settings panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .copyInput-2rOSt7 { /*Server widget copy box*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV { /*Copy buttons*/
    background-color: var(--bg-second-panels);
}
.descriptionBox-1EKQKL { /*Server template panel*/
    background-color: var(--bg-second-panels);
}
.side-8zPYf6 .separator-gCa7yv { /*Server admin panel separators*/
    height: 0px;
}
.featureCard-1RR4Tl { /*Enable community feature panels*/
    background-color: var(--bg-second-panels);
}
.theme-dark .tierHeaderLocked-1a2opw { /*Server boost progress admin window header*/
    background-color: var(--bg-second-panels);
}
.theme-dark .tierBody-x9kBBp { /*Server boost progress admin window body*/
    background-color: var(--bg-second-panels);
}
.container-3XJ8ns { /*Admin panel role filter*/
    background-color: var(--bg-second-panels);
    border: unset;
}
.message-1Ng5AR { /*Searched message results*/
    background-color: var(--bg-second-panels);
}
.theme-dark .pageWrapper-1PgVDX { /*Explore servers window*/
    background-color: var(--bg-main-panels);
}
.search-1iTphC .searchBox-2_mAlO { /*Explore servers searchbox*/
    background-color: var(--bg-second-panels);
}
.inputWrapper-31_8H8 { /*Explore servers searchbox*/
    background-color: var(--bg-second-panels);
}
.search-1iTphC .searchBox-2_mAlO > .inputWrapper-31_8H8 { /*Explore servers searchbox*/
    background-color: var(--bg-second-panels);
}
.theme-dark .searchBox-3Y2Vi7 { /*Explore servers searchbox*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.theme-dark .card-3DjzTQ, .theme-dark .iconMask-3b8GzQ, .card-3DjzTQ,.iconMask-3b8GzQ { /*Explore servers server background*/
    background-color: var(--bg-second-panels);
}
.theme-dark .card-3DjzTQ:hover, .card-3DjzTQ:hover, .theme-dark .card-3DjzTQ:hover .iconMask-3b8GzQ { /*Explore servers server background hover*/
    background-color: var(--bg-second-panels);
    box-shadow: unset;
}
.popoutContainer-1MXdqN { /*Emoji panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .contentWrapper-3WC1ID { /*Join server popup*/
    background: var(--bg-second-panels);
}
.pill-1dHPfk { /*Online server members pill*/
    background-color: var(--bg-second-panels);
}
.theme-dark .scroller-1-nKid, .theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw { /*Reacted panel*/
    background: var(--bg-second-panels);
}
.theme-dark .reactionSelected-1pqISm, .theme-dark .reactionDefault-GBA58K:hover { /*Selected reaction on panel*/
    background-color: var(--bg-second-panels);
}
.theme-dark .reactorDefault-1IUqMZ { /*People who used that reaction*/
    box-shadow: unset;
}
.wrapper-uf3cnO { /*Slash command panel*/
    background-color: var(--bg-second-panels);
}
.builtInSeparator-1ku6s5 { /*Slash command panel divider*/
    border-bottom: unset;
}
.theme-dark .iconWrapper-3LVgIo { /*Server boost quantity*/
    background-color: var(--bg-second-panels);
}
.upsellFooter-3coAfO { /*Bottom panel when buying boosts*/
    background-color: var(--bg-second-panels);
}